spring:
  application:
    name: EdTech-Backend

  datasource:
    url: jdbc:postgresql://localhost:5432/edtech
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: naitickkothari2003@gmail.com
    password: axis elhy nntz ayem
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


